<!DOCTYPE html>
<script
  type="text/javascript"
  src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.js"
></script>
<html>
  <head>
    <title>Shoppingmall</title>
  </head>
  <body>
    <h1><a href="/">Zues Shoppingmall</a></h1>
    <%- content %>
  </body>
</html>
