<% extend('layout') %>
<h2>로그인</h2>
<form action="/login" , method="post">
  <input type="email" name="email" placeholder="email입력" />
  <input type="password" name="password" placeholder="비번 입력" />
  <button type="submit" value="Login">로그인</button>
</form>
<div>
  <p>아직 회원이 아니신가요? <a href="/join">회원가입</a></p>
</div>
