<% extend('layout') %> <input type="checkbox" name="check1" />모든 약관과
sms/메일 수신에 동의합니다.
<div>
  <div class="term">
    약관 약관 약관 약관 약관 약관 약관 약관 약관 약관 약관 약관 약관 약관 약관
    약관 약관 약관 약관 약관 약관 약관 약관 약관 약관 약관 약관 약관 약관 약관
    약관 약관 약관 약관 약관 약관 약관 약관 약관 약관 약관 약관 약관 약관 약관
    약관 약관
  </div>
  <input type="checkbox" name="check2" value="약관에 동의합니다." />
  <div class="term">
    이메일 수신 이메일 수신 이메일 수신 이메일 수신 이메일 수신 이메일 수신
    이메일 수신 이메일 수신 이메일 수신 이메일 수신 이메일 수신 이메일 수신
    이메일 수신 이메일 수신 이메일 수신 이메일 수신 이메일 수신 이메일 수신
    이메일 수신 이메일 수신 이메일 수신 이메일 수신 이메일 수신 이메일 수신
  </div>
  <input type="checkbox" name="check3" value="약관에 동의합니다." />
</div>
<a href="/join">이전</a>
<a href="/join/join_seller">다음</a>
